<div class="mod-dashboard">
	<div class="heading">
		<div>
			Places
		</div>
		<a class="button-standard" ng-click="go('places')">Organize</a>
	</div>

	<div class="place-panel">
		<div class="place" ng-repeat="place in places">
			<div class="name">
				{{place.name}}
			</div>
			<div class="stuff" ng-show="stuffForPlaces(place).length" ng-repeat="stuff in stuffForPlaces(place)">
				{{stuff.name}}
			</div>
			<div class="nostuff" ng-show="!stuffForPlaces(place).length">No stuffs here</div>
		</div>
	</div>

	<div class="heading">
		<div>
			Stuffs
		</div>
		<a class="button-standard" ng-click="go('stuffs')">Organize</a>
	</div>


	<div class="stuff-panel">
		<div class="stuff" ng-repeat="stuff in stuffs">
			{{stuff.name}}
		</div>
	</div>
</div>