<div class="page-title"><span ng-click="go('/stuffs')" class="icon-arrow-left8 back"></span><span class="text">{{stuff.name}} history</span></div>

<div class="mod-history">
	<table>
		<thead>
		<tr>
			<th>Date</th>
			<th>Description</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="history in stuff.history | orderBy:'-date'">
			<td>{{history.date | date: 'mediumDate'}} {{history.date | date: 'shortTime'}}</td>
			<td>
				<span ng-class="{'icon-arrow-down-right3':history.at, 'icon-arrow-up-left3':!history.at}"/>
				<span class="text">{{formatAt(history.at)}}</span>
			</td>
		</tr>
		</tbody>
	</table>
</div>