<div class="page-title"><span ng-click="go('/')" class="icon-arrow-left8 back"></span><span class="text">Stuffs</span></div>

<div class="mod-stuffs">
	<div class="stuff-editor" ng-repeat="stuff in stuffs">
		<span class="icon-newspaper"></span>
		<div class="name-text">{{stuff.name}}</div>
		<a class="button-standard" ng-click="go('/history_stuff',{'stuffId':stuff.id})">History</a>
		<a class="button-standard" ng-click="go('/stuff_edit',{'stuffId':stuff.id})">Edit</a>
		<span class="text">at:</span>
		<div class="place" ng-show="showEdit!==stuff.id" ng-click="$parent.showEdit=stuff.id">
			<span ng-show="findPlaceById(stuff.at)">
				{{findPlaceById(stuff.at).name}}
			</span>
			<span ng-show="!findPlaceById(stuff.at)">
				Nowhere
			</span>
		</div>
		<div class="place-selector" ng-show="showEdit==stuff.id">
			<select ui-select2="{allowClear:true}" ng-model="findEditStuff(stuff.id).at" data-placeholder="At nowhere" class="autocomplete">
				<option value=""></option>
				<option ng-repeat="p in places" value="{{p.id}}">{{p.name}}</option>
			</select>
			<a class="button-standard" ng-click="save(stuff.id)">OK</a>
			<a class="button-standard" ng-click="$parent.showEdit=null">Cancel</a>
		</div>
	</div>
	<div class="stuff-creator">
		<a class="button-standard" ng-show="!showCreate" ng-click="showCreate=true">New</a>
		<div class="stuff-creator-panel" ng-show="showCreate">
			<form name="form" novalidate>
				<input type="text" ng-model="name" required>
				<a class="button-standard" ng-disabled="form.$invalid" ng-click="!form.$invalid && create()">Save</a>
				<a class="button-standard" ng-click="showCreate=false;name=null">Cancel</a>
			</form>
		</div>
	</div>
</div>