.button-standard{
  &[disabled="disabled"]{
    color: lightgrey;
    border: 1px solid rgba(0,0,0,0.08);
    cursor:default;
  }
  &[disabled="disabled"]:hover{
    background-color: white;
  }
  cursor: pointer;
  display: inline-block;
  padding: 3px 6px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  text-align: center;
  text-decoration: none;
  color: black;
  background-color: white;
  transition: background-color 200ms linear;
  text-transform:uppercase;
  &:hover{
    background-color: lightGrey;
  }
}

.hidden{
  visibility:hidden;
}