.mod-places{
  .mod-place-editor{
    border: 1px dotted lightgrey;
    .place-editor-header{
      display:flex;
      width:100%;
      min-height: 50px;
      align-items: center;
      cursor:pointer;
      user-select:none;
      span:nth-child(1){
        margin-left: 10px;
      }
      span{
        &.text{
          flex-grow:1;
          flex-shrink:1;
        }
      }
      [class^="icon-"]{
        margin-right:5px;
        font-size:90%;
      }
      a{
        margin-right:20px;
      }
      *{
        flex-shrink:0;
      }
    }
    .place-editor{
      border-top:1px dotted lightgrey;
      overflow: hidden;
      &.ng-hide-add, &.ng-hide-remove {
        transition:all linear 0.2s;
        display:block!important;
      }

      &.ng-hide-add.ng-hide-add-active,
      &.ng-hide-remove {
        height:0px;
      }

      &.ng-hide-add,
      &.ng-hide-remove.ng-hide-remove-active {
        height: 114px;
      }

      form{
        margin-bottom:0px;
        .buttons{
            display: flex;
            justify-content: flex-end;
            margin-top:10px;
          a{
            margin-left:10px;
          }
        }
      }
      .form-element{
        margin-top:10px;
        margin-bottom:5px;
        margin-left: 10px;
        margin-right: 5px;
        display: flex;
        justify-content: space-between;
        input{
          width: 87%;
        }
      }
    }
  }

  .place-creator{
    margin-bottom:20px;
    border: 1px dotted black;
    .place-editor-header{
      .text{
        font-style:italic;
      }
    }
  }
}