.mod-places{
  .mod-place-create{
    border: 1px dotted lightgrey;
    .place-create-header{
      width:100%;
      cursor:pointer;
      span{
        &.text{
          margin-left: 10px;
        }
        line-height: 40px;
      }
      [class^="icon-"]{
        float:right;
        margin-right:5px;
      }
    }
    .place-create{
      border-top:1px dotted lightgrey;
      overflow: hidden;
      &.ng-hide-add, &.ng-hide-remove {
        transition:all linear 0.2s;
        display:block!important;
      }

      &.ng-hide-add.ng-hide-add-active,
      &.ng-hide-remove {
        height:0px;
      }

      &.ng-hide-add,
      &.ng-hide-remove.ng-hide-remove-active {
        height: 114px;
      }

      form{
        margin-bottom:0px;
        .buttons{
            display: flex;
            justify-content: flex-end;
            margin-top:10px;
          a{
            margin-left:10px;
          }
        }
      }
      .form-element{
        margin-top:10px;
        margin-bottom:5px;
        margin-left: 10px;
        margin-right: 5px;
        display: flex;
        justify-content: space-between;
        input{
          width: 87%;
        }
      }
    }
  }
}