body {
  margin: 0px;
  font-size: 20px; }

header {
  background-color: lightGrey;
  font-size: 150%;
  height: 60px; }
  header div {
    width: 1090px;
    margin: 0px auto;
    top: 50%;
    transform: translateY(-50%);
    position: relative; }

.main {
  width: 1090px;
  margin: 0px auto;
  padding-bottom: 110px; }
  .main .page-title {
    font-size: 140%;
    margin-bottom: 40px;
    margin-top: 40px;
    font-weight: bold; }
    .main .page-title .back {
      cursor: pointer;
      font-size: 90%; }
    .main .page-title .text {
      text-decoration: underline; }

.container {
  position: relative;
  min-height: 100%; }

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: darkGrey;
  font-size: small;
  height: 90px; }
  footer > div {
    width: 1090px;
    margin: 0px auto;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
    height: 16px; }
    footer > div .text {
      float: left; }
    footer > div .copyright {
      float: right; }

.mod-dashboard .heading {
  margin-top: 40px;
  height: 35px; }
  .mod-dashboard .heading div {
    float: left; }
    .mod-dashboard .heading div [class^="icon-"] {
      font-size: 90%; }
    .mod-dashboard .heading div .text {
      font-size: 130%; }
  .mod-dashboard .heading a {
    float: right; }
.mod-dashboard .place-panel {
  margin-left: 20px; }
  .mod-dashboard .place-panel [class^="icon-"] {
    font-size: 90%; }
  .mod-dashboard .place-panel .place {
    margin-top: 8px;
    margin-bottom: 8px;
    border-bottom: 1px dotted lightgrey; }
    .mod-dashboard .place-panel .place .stuff, .mod-dashboard .place-panel .place .nostuff {
      margin-left: 30px;
      margin-top: 3px; }
    .mod-dashboard .place-panel .place .nostuff {
      font-style: italic; }
.mod-dashboard .stuff-panel {
  margin-left: 20px; }
  .mod-dashboard .stuff-panel .stuff {
    margin-top: 8px;
    margin-bottom: 8px;
    border-bottom: 1px dotted lightgrey; }
    .mod-dashboard .stuff-panel .stuff [class^="icon-"] {
      font-size: 90%; }

.button-standard {
  cursor: pointer;
  display: inline-block;
  padding: 3px 6px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  text-align: center;
  text-decoration: none;
  color: black;
  background-color: white;
  transition: background-color 200ms linear;
  text-transform: uppercase; }
  .button-standard[disabled="disabled"] {
    color: lightgrey;
    border: 1px solid rgba(0, 0, 0, 0.08);
    cursor: default; }
  .button-standard[disabled="disabled"]:hover {
    background-color: white; }
  .button-standard:hover {
    background-color: lightGrey; }

.mod-places .mod-place-editor {
  border: 1px dotted lightgrey; }
  .mod-places .mod-place-editor .place-editor-header {
    display: flex;
    width: 100%;
    min-height: 50px;
    align-items: center;
    cursor: pointer;
    user-select: none; }
    .mod-places .mod-place-editor .place-editor-header span:nth-child(1) {
      margin-left: 10px; }
    .mod-places .mod-place-editor .place-editor-header span.text {
      flex-grow: 1;
      flex-shrink: 1; }
    .mod-places .mod-place-editor .place-editor-header [class^="icon-"] {
      margin-right: 5px;
      font-size: 90%; }
    .mod-places .mod-place-editor .place-editor-header a {
      margin-right: 20px; }
    .mod-places .mod-place-editor .place-editor-header * {
      flex-shrink: 0; }
  .mod-places .mod-place-editor .place-editor {
    border-top: 1px dotted lightgrey;
    overflow: hidden; }
    .mod-places .mod-place-editor .place-editor.ng-hide-add, .mod-places .mod-place-editor .place-editor.ng-hide-remove {
      transition: all linear 0.2s;
      display: block !important; }
    .mod-places .mod-place-editor .place-editor.ng-hide-add.ng-hide-add-active, .mod-places .mod-place-editor .place-editor.ng-hide-remove {
      height: 0px; }
    .mod-places .mod-place-editor .place-editor.ng-hide-add, .mod-places .mod-place-editor .place-editor.ng-hide-remove.ng-hide-remove-active {
      height: 114px; }
    .mod-places .mod-place-editor .place-editor form {
      margin-bottom: 0px; }
      .mod-places .mod-place-editor .place-editor form .buttons {
        display: flex;
        justify-content: flex-end;
        margin-top: 10px; }
        .mod-places .mod-place-editor .place-editor form .buttons a {
          margin-left: 10px; }
    .mod-places .mod-place-editor .place-editor .form-element {
      margin-top: 10px;
      margin-bottom: 5px;
      margin-left: 10px;
      margin-right: 5px;
      display: flex;
      justify-content: space-between; }
      .mod-places .mod-place-editor .place-editor .form-element input {
        width: 87%; }
.mod-places .place-creator {
  margin-bottom: 20px;
  border: 1px dotted black; }
  .mod-places .place-creator .place-editor-header .text {
    font-style: italic; }

.mod-stuffs .stuff-editor {
  border: 1px dotted lightgrey;
  display: flex;
  min-height: 50px;
  align-items: center;
  padding: 5px; }
  .mod-stuffs .stuff-editor [class^="icon-"] {
    margin-right: 5px;
    font-size: 90%;
    margin-left: 10px; }
  .mod-stuffs .stuff-editor .name-text {
    width: 330px; }
  .mod-stuffs .stuff-editor a {
    margin-right: 20px; }
  .mod-stuffs .stuff-editor .place-selector {
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    align-items: center; }
    .mod-stuffs .stuff-editor .place-selector > * {
      flex-shrink: 0; }
    .mod-stuffs .stuff-editor .place-selector .autocomplete {
      flex-grow: 1;
      flex-shrink: 1; }
  .mod-stuffs .stuff-editor > * {
    flex-shrink: 0; }
  .mod-stuffs .stuff-editor .place {
    flex-shrink: 1;
    flex-grow: 1; }
.mod-stuffs .stuff-creator {
  margin-top: 20px; }
  .mod-stuffs .stuff-creator .stuff-creator-panel form {
    margin-bottom: 0px;
    display: flex; }
    .mod-stuffs .stuff-creator .stuff-creator-panel form input {
      flex-grow: 1;
      margin-right: 20px; }
    .mod-stuffs .stuff-creator .stuff-creator-panel form a {
      margin-right: 20px; }
